<div class="col-md-6 offset-3">
  <%= render partial: "user_card", locals: { user: @user } %>
  <p class="my-3 fs-4"><%= @user.bio %> </p>
  <ul class="post__list">
    <% @posts.each do |p| %>
      <li class="post__item">
        <%= render partial: "posts/post_card", locals: { post: p } %>
      </li>
    <% end %>
  </ul>
  <div class="d-flex justify-content-center">
    <%= link_to "See all posts", user_posts_path(@user.id), class: "btn btn-danger" %>
  <div>
</div>
