<div class="form__container">
  <%= form_with url: post_comments_path(post.id), scope: :data do |f| %>
    <div class="field my-4">
      <%= f.text_area :text, size: "60x10", required: true, placeholder: "Write comment...", class: "form-control" %>
    </div>
    <%= f.submit "Comment", class: "btn btn-danger" %>
  <% end %>
</div>