<ul class="comment__list">
  <% comments_with_user(comments).each do |c| %>
    <li class="comment__item">
      <div class="card">
        <div class="card-header">
          <span class="comment__item-user"><%= c.comment_by  %>:  </span>
          <span class="comment__item-comment"><%= c.text %> </span>
        </div>
        <div class="card-body">
          <% if can? :destroy, c %>
            <%= button_to comment_path(c.id), method: :delete, class: "trash-btn" do %>
              <i class='bx bx-trash-alt box-icon'></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
    <hr />
  <% end %>
</ul>