<div class="col-md-6 offset-3">
  <%= form_with url: posts_path, model: @post do |f| %>
    <h6 class="fs-4">Create new post</h6>
    <div class="field my-4">
      <%= f.text_field :title, class: "form-control", required: true, placeholder: "Title", value: nil %>
    </div>
    <div class="field my-4">
      <%= f.text_area :text, size: "60x10", required: true, placeholder: "Write text here...", value: nil, class: "form-control" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit class: "btn btn-danger" %>
    </div>
  <% end %>
</div>